<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link href="{{ url_for('static',filename='css/estilos.css') }}" rel="stylesheet" type="text/css">
	<title>Aplicación Discográfica</title>

</head>
<body>
	<form action="/" method="post">
    <label for="nombre">Nombre</label>
    <input type="text" id="nombre" name="nombre"><br/>
 
    <label for="apellido">Apellido</label>
    <input type="text" id="apellido" name="apellido"><br/>
 
    <input type="submit" value="Enviar" />
</form>
	


</body>
</html>